@charset 'utf-8';

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-image: url('../assets/bkg/bkg_main.jpg');
	background-position-y: center;
	background-size: 120%;
}

p {
	margin-bottom: 0;
}

#card_pokemon {
	color: white;
	text-shadow: 1px 0px 10px black;
	max-width: 600px;
	padding: 30px;
	background-color: #ffffff10;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	border: 2px solid rgba(70, 70, 70, 0.426);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	margin: auto;
}

#card_pokemon h2 {
	text-align: center;
	font-size: 2rem;
	font-weight: 800;
	margin-bottom: 20px;
}

#card_info {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
}

#poke_img {
	display: flex;
	align-items: center;
	justify-content: center;
}

#infos {
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	gap: 5px;
}

.information {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff10;
	border-radius: 10px;
	min-width: 150px;
	padding: 5px;
}

.information h5 {
	font-size: 1rem;
	margin-bottom: 10px;
}
